/* Resetando o margin e padding para evitar problemas de alinhamento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    text-align: center;
    z-index: 10;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1.5rem;
    padding: 2rem;
    /* Adicionando padding para melhorar o espaçamento */
    /* Exemplo de fundo */
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    /* Ajustando o espaçamento inferior */
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #ffdd00;
    color: #333;
    padding: 0.75rem 2rem;
    /* Aumentando o padding para melhorar a aparência */
    border-radius: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Adicionando transição para a cor do texto */
    margin-top: 1rem;
    text-decoration: none;
    /* Remove o sublinhado */
}

.cta-button:hover {
    background-color: #e6c800;
    color: #000;
}

/* Adicionando media queries para responsividade */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .cta-button {
        padding: 0.5rem 1.25rem;
    }
}