.hero-carousel {
    max-height: 100vh; /* Aumenta a altura do carrossel em telas grandes */
    margin-top: 5%;
}

/* Ajuste a altura das imagens dentro do carrossel */
.hero-carousel .carousel-item img {
    height: 100vh; /* Aumenta a altura das imagens */
    object-fit: cover;
    width: 100%; /* Garante que a largura ocupe o espaço disponível */
}

/* Remove os indicadores do carrossel */
.carousel-indicators {
    display: none !important;
}

/* Remove as setas de próximo e voltar */
.carousel-control-prev,
.carousel-control-next {
    display: none !important; /* Oculta as setas de navegação */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .hero-carousel {
        max-height: 50vh; /* Reduz a altura para dispositivos móveis */
    }

    .hero-carousel .carousel-item img {
        height: 50vh; /* Ajuste de altura da imagem em telas menores */
    }
}

/* Responsividade para tablets */
@media (min-width: 769px) and (max-width: 992px) {
    .hero-carousel {
        max-height: 70vh; /* Ajuste de altura para tablets */
    }

    .hero-carousel .carousel-item img {
        height: 70vh; /* Ajuste de altura da imagem em tablets */
    }
}

/* Responsividade para telas grandes */
@media (min-width: 1200px) {
    .hero-carousel {
        max-height: 100vh; /* Ajuste de altura em telas muito grandes */
    }

    .hero-carousel .carousel-item img {
        height: 100vh; /* A imagem preenche completamente a tela */
    }
}
