.custom-navbar {
    background-color: #333;
    margin-bottom: 50px;
    padding: 15px 0;
}

.navbar-brand img {
    max-height: 90px; /* Tamanho da logo para desktop */
}

.site-title {
    color: rgb(204, 173, 0);
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.navbar-nav {
    flex: 1;
    justify-content: center;
}

.navbar-nav .nav-link {
    margin: 0 20px;
    color: #f8f8f8 !important;
    text-decoration: none !important;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    transition: color 0.3s ease;
    position: relative;
}

/* Hover e focus */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #ffdd00 !important;
}

/* Linha animada embaixo dos links */
.navbar-nav .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffdd00;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 100px; /* Aumenta a logo para dispositivos móveis */
    }

    .site-title {
        font-size: 1.5rem; /* Ajusta o tamanho do título em telas menores */
    }

    .navbar-nav {
        text-align: center; /* Centraliza o texto no menu hamburguer */
    }

    .navbar-nav .nav-link {
        margin: 10px 0; /* Ajusta o espaçamento dos links para centralização no menu hamburguer */
    }
}
