/* Global Styles */

/* Define o estilo global do body e html */
body,
html {
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #f0f0f0;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
    background-color: #000;
}

